* {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

#h3 {
  color: white;
  font-weight: 700;
}

header {
  text-align: center;
  font-size: larger;
  background-color: rgb(47, 97, 97);
  padding: 10px;
  border-radius: 15px;
}

#denyText {
  text-align: center;
  color: crimson;
  font-size: larger;
  font-weight: bolder;
}

#switchText {
  margin-left: 75px;
  margin-right: 75px;
  width: 100px;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: "-  ";
}

li {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#introText {
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: large;
  text-align: center;
}

#endText {
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: large;
  text-align: center;
}


#goodBadText {
  margin-bottom: 40px;
}

#citation {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
}

hr {
  margin-top: 75px;
}

footer {
  height: 100px;
  background-color: rgb(47, 97, 97);
  border-radius: 15px;
}

#denyText {
  text-align: center;
}

#appealText {
  text-align: center;
}

/* switch style */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c9c9c9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: darkcyan;
}

input:focus + .slider {
  box-shadow: 0 0 1px darkcyan;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}